

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
* {
    font-family: Arial, sans-serif;
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 2 2 50px;
}
#title {
    display: flex;
    align-items: flex-end;
    font-size: 2.5rem;
    
}
h1 {
    font-family: "Amatic SC";
    margin: 0;

}
#title img {
    width: 140px;
}
#search {
    position: relative;
    width: 100%;
    max-width: 1000px;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    box-sizing: border-box;
}
input {
    flex: 1;
    font-size: large;
    height: 50px;
    box-sizing: border-box;
    padding: 0.5rem 4rem 0.5rem 0.75rem;
    margin: 0.5rem 0;
    border: 2px solid #000000;
    border-radius: 10px;
}
#search-hr {
    position: absolute;
    right: 3rem;
    top: 50%;
    transform: translateY(-50%);
    background: #000000;
    height: 30px;
    width: 1px;
    margin: 0;
    margin-right: 0.7rem;
}
button {
    position: absolute;
    right: 1.2rem;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background-color: transparent;
    padding: 0.25rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 38px;
    width: 38px;
}
button img {
    max-width: 38px;
    display: block;
}

#divider {
    width: 100%;
    max-width: 1000px;
    margin: 1rem 0;
    border: none;
    height: 1px;
    background: #b5b5b5;
}

.recipe {
    display: flex;
    flex-direction: column;
    border: black solid 3px;
    border-radius: 10px;
    width: 95%;
    max-width: 940px;
    align-items: flex-start;
    margin: 0 auto;
    padding: 10px;

}
.recipe img {
    width: 90%;
    align-self: center;
    margin-top: 40px;
    max-width: 500px;
}
h3 {
    border: black solid 1px;
    padding: 0.5rem;
    font-size: 1.2rem;
    border-radius: 5px;
    background: #e7e7e7;
}
.tagContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-top: 0.5rem;
}
h2 {
        font-family: "Amatic SC";
        font-size: 3rem;
        color: #0494e1;
        margin-bottom: 0;
}
footer {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 1rem;
    width: 95%;
    max-width: 940px;
    margin: 0 auto;
}
footer img {
    width: 40px;
    height: auto;
}
.hide {
    display: none;
}
p {
    display: block;
    flex-wrap: wrap;
    width: 40%;
}
@media (min-width: 915px) {
    .hide {
        display: flex;
    }
    #title {
        font-size: 3rem;
    }
    #title img {
        width: 170px;
    }
    .recipe {
        display: grid;
        grid-template-columns: 500px 1fr;
        align-items: start;
        column-gap: 1.5rem;
        min-height: 425px;
    }
    
    .recipe img {
        width: 100%;
        max-width: 500px;
        grid-column: 1 / 2;
        grid-row: 1 / span 5;
        align-self: start;
        margin: 25px 0 0 0;
    }
    .recipe h3,
    .recipe h2,
    .recipe .rating,
    .recipe p {
        grid-column: 2 / 3;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .recipe p {
        width: 100%;
    }
    footer {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    footer a {
        order: -1;
    }
    footer .social {
        margin-left: auto;
    }
}